body{
	background-color: #ede5e5; /* Dark grey color */
  }
  
  #canvas{
    margin: auto;
    background:auto;
	height: 10%;
    width: 20%;
  }

  #site_name{
	  margin-top: 10px;
	  margin-left: -4%;
	  text-align: center;
	  font-size: 50px;
	  font-family: "Audiowide", sans-serif;
	  color: #3498db; /* Blue color */
	  text-shadow: 3px 0s #eee;
	  animation-name: liting;
	  animation-duration: 4s;
	  animation-iteration-count: infinite;
  }
  @keyframes liting {
	0% {
	  color: dodgerblue;
	  text-shadow: 3px 3px 0 #3498db;
	}
	25%{
		color: #3498db;
		text-shadow: 3px 3px 0 black;
	}
	50%{
	  color:#3498db;
	  text-shadow: 3px 3px 0 dodgerblue;
	}
	75%{
		color: black;
		text-shadow: 3px 3px 0 #3498db;
	}
	100% {
	  color: dodgerblue;
	  text-shadow: 3px 3px 0 #3498db;
	}
  }
  hr:not([size]) {
	color: #3498db; /* Blue color */
	height: 10px;
  }
  .navbar{
	background-color: dodgerblue; /* Blue color */
  }
  #bookmark_btn{
  font-size: larger;
  color: white;
  
  }
  #offcanvasRight{ /* Bookmarked Words Pop Up */
	background-color: #3498db; /* Blue color */
	height: fit-content;
  }
  #offcanvasRightLabel{
	font-family: "Audiowide", sans-serif;
	font-weight: bolder;
  }
  
  .toast-header{
	  font-size: larger;
	  background-color: #3498db; /* Blue color */
	  color: white;
  }
  .toast-body{
	  font-size: larger;
	  background-color: #1a1a1a; /* Dark grey color */
	  color: white;
  }
 
/* Image Filters Section */
/* Use Flexbox to center the elements horizontally and vertically */
section {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  /* Use max-width and margin to limit and center the content width */
  .row {
	max-width: 800px;
	margin: 0 auto;
  }
  
  /* Use media queries to adjust the layout for smaller screens */
  @media (max-width: 768px) {
	/* Stack the columns vertically */
	.col-md-3 {
	  width: 100%;
	}
  
	/* Reduce the button size */
	.btn-group-sm > .btn {
	  padding: .25rem .5rem;
	  font-size: .875rem;
	  line-height: 1.5;
	  border-radius: .2rem;
	}
  }
  


  /* Effects for Image Section */
  #img_effects_section {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .row {
	width: 100%;
	max-width: 800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .col-md-3 {
	flex: 0 0 25%;
	max-width: 25%;
  }
  
  .col-md-6 {
	flex: 0 0 50%;
	max-width: 50%;
  }
  
  @media (max-width: 768px) {
	.col-md-3 {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  
	.col-md-6 {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
  


	/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
	background: #1a1a1a; /* Dark grey color */
	padding: 0 0 30px 0;
	color: #eee;
	font-size: 14px;
  
  }
  #footer .footer-top {
	background:  dodgerblue; /* Blue color */
	padding: 60px 0 30px 0;
  }
  #footer .footer-top .footer-info {
	margin-bottom: 30px;
  }
  #footer .footer-top  h2 {
	  
	font-size: 34px;
	margin: 0 0 20px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-family: "Audiowide", sans-serif;
	color: white;
	font-weight: 400;
	
  }
  #footer .footer-top  h3 {
	font-size: 25px;
	margin: 0 0 20px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-family: "Audiowide", sans-serif;
	color: white;
	font-weight: 400;
	
  }
  #footer .footer-top .footer-info p {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: 'Architects Daughter',sans-serif;
	color: white;
  }
  
  #footer .footer-top .social-links a {
	  
	/* display: inline-flex; */
	justify-content: space-around;
	align-items: flex-end;
	border-radius: 50%;
	font-size: 18px;
	color: white;
	margin-right: 4px;
	width: 36px;
	height: 36px;
	transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
	 
	  background-color:dodgerblue;
	  color: black;
	
  }
  
  
  #footer .copyright {
	text-align: center;
	padding-top: 30px;
	font-size: 20px;
	color: dodgerblue;
  }
  
  #footer .copyright .fa-spin{
	animation-duration: 25s;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  -------------------------------------------------------------*/
  #btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	
  }
  #btn-back-to-top:hover{
	color: black;
	background-color: dodgerblue;
	border-color: black;
  }
  .btn-warning {
  
	color: dodgerblue;
	background-color:black ;
	border-color: black;
	
  }
  
  